<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title><%= title %></title>
</head>
<body class="p-5 flex flex-col gap-10">
    <%- include("./partials/pageHeader") %>
    <main class="flex flex-col gap-5 items-center py-5">
        <article class="flex flex-col items-center gap-5">
            <div>
                <h2 class="p-2 text-3xl font-medium border w-fit mx-auto"><%- title  %></h2>
                <p class="p-1"><%=(numberOfGames == 1? `There is 1 game `: `There are ${numberOfGames} games`) %> in this genre.</p>
            </div>
            <ul>
                <% games.forEach(game => { %>
                    <li><p><%= game.title%></p></li>
                    <%}) %>
                </ul>
            <div>
                <button class="border p-2 h-fit font-medium bg-red-500 text-white hover:cursor-pointer">Delete genre</button>
                <button class="border p-2 h-fit font-medium bg-black text-white hover:cursor-pointer">Add new game</button>
            </div>
        </article>
    </main>
</body>
</html>